
.carosello{
    display: flex;
    flex-direction: row;
    position: relative;
    align-items: center;
    justify-content: center;
    gap:20px;
    height:400.36px;
    width: 100%;
  
}
.hider{
    position: absolute;
    background-color: white;
    height: 120%;
    width: 222px;
    z-index: 2;
 
    
}
    .hider.right{
        right: 0;
    }
    .hider.left{
        left: 0;
       
    }

.content{
    display: flex;
    flex-direction: row;
    position: absolute;
    left: 210px;
    gap: 25px;
    z-index: 0;
    margin-left: 25px;
  
}


.hider.freccia.left{
    position: absolute;
    left: 0;
}


/* Freccia */
.freccia{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(0, 0, 0);
    opacity: 30%;
    height: 100%;
    width: 74px;
    border-radius: 3px;
    z-index: 3;   
}
.freccia svg{
    fill: white;
    opacity: 60%;
}
    .freccia.right{
        left: -60px;
    }
    .freccia.left{
       left: 100%;
        z-index: 2;   
        display: none;
       
    }
   
    .freccia:hover svg{
        transform: scale(130%);
        transition: 0.2s;
        opacity: 100%;
    }
    .freccia:hover{
        opacity: 60%;
        transition: 0.3s;
    }
    .smallLeft{
        position: absolute;
        left: 0;
        display: none;
    }
    
    .smallRight{
        position: absolute;
        right: 0;
    }
    
    .fullScreenContent{
        position: absolute;
        left: 0;
    }

    