button{
    border: none;
    background-color: transparent;
    fill: var(--light-grey);
    opacity: 50%;
}
button:hover{
    opacity: 100%;
}

.visible{
    display: block;
}


.gamesDrop{
    border: none;
    background-color: transparent;
    width: 120px;
    height: 68px;
   
   
}
    svg{
        fill: var(--grey);
    }
    .gamesDrop:hover svg {
            
        fill: white ;
        transition: 0.2s;
    }
  
    .gamesDrop:hover .img-container {
        background-color: var(--nint-red);
        fill: white ;
        transition: 0.2s;
    }

    .gamesDrop:hover a {
        color: var(--nint-red) ;
        transition: 0.2s;
    }
    
a{
    text-decoration: none;
    color: var(--light-grey);
    font-family: nint-light;
}
h3{
    font-size: 14px;
    text-align: center;
    margin-top: 5px;
}
.img-container{
    border: 0.5px solid #c9c9c9;
    width: 100%;
    height: 100%;
    border-radius: 3px;
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.links-dropped{
    width: 100%;

    padding: 60px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 25px;  
}

.closebtn{
    width: 26px;
    height: 26px;
    position: relative;
    bottom: 68px;
    left: 67%;
}

