
.container{
    margin-top:7rem;
}

.banner{
    display: flex;
    justify-content: space-between;
    background-color:red;
    width: 100%;
    padding: 1%;
}
.img0{
    width: 100%;
    height: auto;
    margin-bottom: 2rem;
}
.img1{
    width: 100%;
    height: auto;
}

.box2{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    justify-content: space-around;
    height: 100%;
    grid-gap: 10px;
}

.img2 {
    width: 100%;
    height: auto;
    max-height: 260px;

}

.img3{
    max-height: 260px;
    width: 100%;
    height: auto;
}

.banner3{
    display: flex;
    justify-content: space-between;
    background-color:lightgrey;
    width: 100%;
    padding: 1%;
}