<nav>
<!-- xera è la classe per il bordo e lo sfondo rosso nell'hover -->
<div class="container">


  <div class="home xera strong-red"> 

    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32" width="16" role="presentation" alt=""
      data-testid="MyNintendoHomeIcon" size="16" color="currentColor">
      <path
        d="M31.2 14L17.4 2.9c-.8-.6-1.8-.6-2.6 0L.9 14c-.9.7-1 2-.3 2.9.7.9 2 1 2.9.3L5 16.1v9.4c0 2.2 1.7 4 3.9 4h14.4c2.1 0 3.9-1.8 3.9-4v-9.4l1.5 1.2c.4.3.8.5 1.3.5.6 0 1.2-.3 1.6-.8.7-.9.5-2.3-.4-3zm-6.8 11.5c0 .7-.5 1.2-1.1 1.2H8.9c-.6 0-1.1-.6-1.1-1.2V13.9l8.3-6.7 8.3 6.7v11.6zm-10.7-9.8h4.7c.6 0 1.1.5 1.1 1.1v3.3c0 .6-.5 1.1-1.1 1.1h-4.7c-.6 0-1.1-.5-1.1-1.1v-3.3c0-.6.5-1.1 1.1-1.1z"
        fill="currentColor"></path>
    </svg>
    <h6>Home</h6>
  </div>
  <div class="oled-model xera">
    <h6>Nintendo Switch - OLED Model</h6>
  </div>
  <div class="switch xera">
    <h6>Nintendo Switch</h6>
  </div>
  <div class="lite xera">
    <h6>Nintendo Switch Lite</h6>
  </div>
  <div class="online xera">
    <h6>Nintendo Switch Online</h6>
  </div>
  <div class="compare xera">
    <h6>Compare</h6>
  </div>
  <div class="buy-now xera">
    <h6>Buy now</h6>
  </div>
</div>
</nav>
