<div class="mario-day-card">
    <img class="mario-img" role="presentation" alt="Mario Day" data-src="https://assets.nintendo.com/image/upload/c_fill,dpr_auto,f_auto,q_auto,w_auto:100/b_transparent/v1/ncom/en_US/merchandising/My%20Nintendo%20Store/Storefront%20Home/Hero/2022/2400x1200_MNS_Home_Hero_2x1_Mar10_Day_EN" data-width="1000" src="https://assets.nintendo.com/image/upload/c_fill,dpr_2.0,f_auto,q_auto,w_1000/b_transparent/v1/ncom/en_US/merchandising/My%20Nintendo%20Store/Storefront%20Home/Hero/2022/2400x1200_MNS_Home_Hero_2x1_Mar10_Day_EN" width="1000">
    <div class="shop-now">
      
        <h2 >Shop fun Mario gear and save on select games</h2>
        
        <div class="btn-container">
            <button class="btn">Shop now</button>
        </div>
        
    </div> 
</div>
