.filter-bar-container{
  width: 360px;
  display: flex;
  flex-direction: column;
  background-color: #EFEFEF;
  padding: 20px;
  font-size: 17px; 
  gap: 10px;
  overflow-y: scroll;
  position: sticky;
  top: 6rem;
  
}
.scroller{
  height: 700px;
  display: flex;
  flex-direction: column;
  gap: 2px;
  
}

.clear-button{
  width: 100%;
  display: flex;
  justify-content: center; 
  margin-bottom: 20px;
}

.clear-button a:hover .svg-box{
  
  background-color: #484848;
}

.clear-button a{
  text-decoration: none;
  font-weight: 700;
  display: flex;
  align-items: center;
  gap: 10px;
  color: #3946A0;
}

.clear-button a:hover{
  color: #484848;
}

.svg-box{
  background-color: #3946A0; 
  border-radius: 100%;
  align-content: center;
  width: 17px;
  height: 17px;
  display: flex;
  justify-content: center;

}



.clear-button svg{
  color: #EFEFEF;
  margin-right: 0.4px;
}



.filter-bar{
  background-color: white;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;  
}

.filter-bar span{
  cursor: pointer;
}

.filter-bar p{
  cursor: pointer;
}

input[type="checkbox"]{
  transform: scale(2.5);
}

.check-box-primary{
  display: flex;
  gap: 25px;
  align-items: center;
}

button{
  width: 100%;
  background-color: white;
  border: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
}

h3{
  font-size: 18px;
  text-align: left;
}

.freccia-giu{
  transition: 0.2s;
  transform: rotate(0deg);
  
}
.freccia-su{
  transition: 0.2s;
  transform: rotate(180deg);
  
}