<div class="main-margin">
  <nint-hero></nint-hero>
</div>


<div class="container-carosel main-margin">
  <h1 id="featured">Featured</h1>
  <nint-carosello [smallCard]=true></nint-carosello>
  <hr>
</div>

<div class="main-margin">
  <nint-homepage-news></nint-homepage-news>
</div>

<div class="main-margin">
  <nint-homepage-news></nint-homepage-news>
</div>

<div class="main-margin">
  <nint-character-card></nint-character-card>
  <hr>
</div>



<div class="container-carosel main-margin">
  <h1>Digital best sellers</h1>
  <nint-carosello></nint-carosello>
</div>

<div class="container-carosel main-margin ">
  <h1>Digital new releases</h1>
  <nint-carosello></nint-carosello>
</div>
