.storeCardContainer{
    display: flex;
    flex-direction: row;
    position: relative;
    z-index: 3;
 
}
h3{
   font-size: 20px;
}
.red-section {
    background-color: #e60012;
    height: 360.66px;
    display: flex;
    justify-content: center;
    padding: 32px 0;
  }
  .logo-container {
    height: 240.25px;
    width: 458.66px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    left: 210px;
  }
  .store-logo {
    width: 100%;
  }
  
  .store-logo img {
 
    width: 100%;
    margin: 32px 0px 0px;
  }
  
  .grey-section {
    height: 100%;
  }
  
  .grey-section hr {
    width: 1440px;
    margin: 0px 231.5px 32px;
    position: absolute;
    top: 822.67px;
    background-color: #dadada;
  }
  
  .bg-grey {
    z-index: -1;
    width: 100%;
    height: 40%;
    position: relative;
    margin-top: -20px;
  }
  
  .container-1 {
    height: 822.67px;
  }
  .item-link {
    display: -ms-grid;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    bottom: 100px;
  }


  .caroselSection{
      display: flex;
      flex-direction: column;
      position: relative;
     height: 700px;
      border-top: 1px solid rgb(190, 190, 190);
      border-bottom: 1px solid rgb(190, 190, 190);
      margin-bottom: 100px;
  }
  .carosello{
    margin-top: 80px;
  }
 .titleShop{
     font-size: 28px;
    
    margin-left: 480px;
    margin-top: 40px;
 }
 .merchSection{
    display: flex;
    flex-direction: row;
   gap: 150px;
   margin-bottom: 120px;
    justify-content: center;
 }
 .merch{
   display: flex;
   flex-direction: column;
   align-items: center;
 }
  .merch:hover{
    color: var(--nint-red);
    cursor: pointer;
  }
  .merch img {
    height: 291.8px;
    width: 350px;
  }
  hr{
    width: 20px;
  }

  .bannerSection{
    display: flex;
    flex-direction: row;
    gap: 40px;
    justify-content: center;
    align-items: center;
    margin-bottom: 120px;
  }
  .banner{
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    justify-content: center;
  }
  .banner img{ 
    height: 396px;
    width: 704px;
  }
  .banner:hover{
    color:  var(--nint-red);
    cursor: pointer;
  }
  .iJGyOI {
    position: absolute;
    width: 100%;
    height: 16px;
    background-size: auto 16px;
    background-repeat: repeat-x;
    z-index: 0;
    background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiPz4KPHN2ZyB3aWR0aD0iNDVweCIgaGVpZ2h0PSIxNHB4IiB2aWV3Qm94PSIwIDAgNDUgMTQiIHZlcnNpb249IjEuMSIKICAgIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIKICAgIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIj4KICAgIDx0aXRsZT5TdG9yZWZyb250LWF3bmluZy1wYXR0ZXJuPC90aXRsZT4KICAgIDxnIGlkPSJQYWdlLTEiIHN0cm9rZT0ibm9uZSIgc3Ryb2tlLXdpZHRoPSIxIiBmaWxsPSJub25lIiBmaWxsLXJ1bGU9ImV2ZW5vZGQiPgogICAgICAgIDxnIGlkPSJTdG9yZWZyb250LWF3bmluZy1wYXR0ZXJuIiBmaWxsPSIjRTYwMDEyIiBmaWxsLXJ1bGU9Im5vbnplcm8iPgogICAgICAgICAgICA8cGF0aCBkPSJNNDUsMCBMMCwwIEwwLDEzLjc3MzY4IEMxLjMzMzAyMDAxLDEzLjgzNzcxOTMgMi42NDkxNDAxMywxMy40NTM5MDE4IDMuNzM4NzcsMTIuNjgzMzUgTDE5LjI4NDQ4LDEuNjI4NjYgQzIxLjM2NjIzOTQsMC4xNDgzMTg1OTggMjQuMTU3MDEwNiwwLjE0ODMxODU5OCAyNi4yMzg3NywxLjYyODY2IEw0MS43ODQ0OCwxMi42ODMzNSBDNDIuNzI4MzU2MywxMy4zNTAwNDM4IDQzLjg0NTI4NSwxMy43Mjg3NzYgNDUsMTMuNzczNjggTDQ1LDAgWiIgaWQ9IlBhdGgiPjwvcGF0aD4KICAgICAgICA8L2c+CiAgICA8L2c+Cjwvc3ZnPg==);
   top: 464px;
}

.fbjuLP{
  position: relative;
  width: 100%;
  height: 16px;
  background-size: auto 16px;
  background-repeat: repeat-x;
  z-index: 0;
  background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiPz4KPHN2ZyB3aWR0aD0iNDVweCIgaGVpZ2h0PSIxNHB4IiB2aWV3Qm94PSIwIDAgNDUgMTQiIHZlcnNpb249IjEuMSIKICAgIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIKICAgIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIj4KICAgIDx0aXRsZT5QYXRoPC90aXRsZT4KICAgIDxnIGlkPSJQYWdlLTEiIHN0cm9rZT0ibm9uZSIgc3Ryb2tlLXdpZHRoPSIxIiBmaWxsPSJub25lIiBmaWxsLXJ1bGU9ImV2ZW5vZGQiPgogICAgICAgIDxnIGlkPSJTdG9yZWZyb250LWF3bmluZy1wYXR0ZXJuIiBmaWxsPSIjRkZGRkZGIiBmaWxsLXJ1bGU9Im5vbnplcm8iPgogICAgICAgICAgICA8cGF0aCBkPSJNNDUsMCBMMCwwIEwwLDEzLjc3MzY4IEMxLjMzMzAyMDAxLDEzLjgzNzcxOTMgMi42NDkxNDAxMywxMy40NTM5MDE4IDMuNzM4NzcsMTIuNjgzMzUgTDE5LjI4NDQ4LDEuNjI4NjYgQzIxLjM2NjIzOTQsMC4xNDgzMTg1OTggMjQuMTU3MDEwNiwwLjE0ODMxODU5OCAyNi4yMzg3NywxLjYyODY2IEw0MS43ODQ0OCwxMi42ODMzNSBDNDIuNzI4MzU2MywxMy4zNTAwNDM4IDQzLjg0NTI4NSwxMy43Mjg3NzYgNDUsMTMuNzczNjggTDQ1LDAgWiIgaWQ9IlBhdGgiPjwvcGF0aD4KICAgICAgICA8L2c+CiAgICA8L2c+Cjwvc3ZnPg==);
  bottom: 14px;
  transform: rotate(180deg);
}


.storeFooter{
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  gap: 50px;
  margin-top: 165px;
  margin-bottom: 100px;
}

.storeFooter svg{
  color: red;
  width: 70px;
  margin-right: 20px;
}

.storeFooter a{
  color: var(--light-grey);
  font-size: 24px;
  padding: 40px;
  text-decoration: none;
  border: 1px solid ;
  border-radius: 5px;
  font-weight: 600;
  display: flex;
  align-items: center;
}
.storeFooter:hover{
  color: red;
}


.character img{
  height: 440px;
  width: 100%;
  position: absolute;
  z-index: -2;
 
}