<div class="container">
    <div class="box1">
        <div class="img">
            <img class="img1" src="assets/images/oled-model-promo.jfif" alt="" srcset="">
        </div>
        <div class="banner">
            <div><p>Nintendo Switch - Oled Model <br> featuring a vibrant 7-inch OLED screen that makes colors pop. Available now.</p> </div> 
            <div>  <p>$349.99MSRP*</p>
            <a href="link"> > </a> </div> 
        </div>  
    </div>
    <div class="box2">
        <div>
            <div class="img">
                <img class="img2" src="assets/images/split-cta-system.png" alt="" srcset="">
            </div>
            <div class="banner">
                <div>
                    <p>Nintendo Switch<br>Disigned to play at home or on-the-go</p> 
                </div> 
                <div> 
                    <p>$299.99MSRP*</p>
                    <a href="link"> > </a>
                </div> 
            </div>  
        </div> 

        <div>
            <div class="img">
                <img  class="img3" src="assets/images/split-cta-switch-lite.png" alt="" srcset="">
            </div>
            <div class="banner3">
                <div>
                    <p>Nintendo Switch Lite<br>Dedicated to handheld play</p>
                </div> 
                <div>  
                    <p>$199.99MSRP*</p>
                    <a href="link"> > </a>
                </div> 
        </div>
        </div>
    </div>
</div>
