





<div class="all">
  <h1 style="font-size :1.7em;margin-left:1em;">Shopping cart</h1>

  <div class="container-fluid">
    <nav id="nav-mi"
      style="--bs-breadcrumb-divider: url(&#34;data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='8' height='8'%3E%3Cpath d='M2.5 0L1 1.5 3.5 4 1 6.5 2.5 8l4-4-4-4z' fill='grey'/%3E%3C/svg%3E&#34;); margin-left:1em;"
      aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item active" aria-current="page" style="color:rgb(114, 110, 110) ;">Home</li>
        <li class="breadcrumb-item active" aria-current="page">My Nintendo Store
        </li>
        <li class="breadcrumb-item active" aria-current="page">Shopping Cart</li>

      </ol>
    </nav>
  </div>
  <div class="pri">
    <svg data-name="Layer 3" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32" width="50" role="presentation"
      alt="" data-testid="ShoppingCartOutlineIcon" size="50" color="currentColor">
      <path
        d="M25.315 20.556a1.1 1.1 0 0 0 1-.64l5.444-11.829a1.1 1.1 0 0 0-1-1.56H7.772L7.25 3.411a1.1 1.1 0 0 0-1.085-.918H1.168a1.1 1.1 0 1 0 0 2.2h4.065L7.72 19.53l-.983 4.87a1.1 1.1 0 0 0 1.078 1.318h18.673a1.1 1.1 0 0 0 0-2.2H9.16l.599-2.963zm3.728-11.828l-4.433 9.628H9.754L8.14 8.728z"
        fill="currentColor"></path>
      <circle cx="9.55" cy="27.917" r="2.271" fill="currentColor"></circle>
      <circle cx="24.805" cy="27.917" r="2.271" fill="currentColor"></circle>
    </svg>

    <p class="one">Your cart looks lonely. Why not add <a href="#">something fun</a>?</p>
    <p>Unlock free shipping when you spend $50.00 or more!</p>
  </div>
</div>


