<div class="gradient"></div>
<div class="hero-img ">
  <img role="presentation" alt="Mario Strikers: Battle League" class="Imagestyles__CloudinaryImage-sc-1oi2gnz-1 hFNlYD"
    src="https://assets.nintendo.com/image/upload/f_auto/q_auto/dpr_auto/c_scale,w_1000/v1/ncom/en_US/merchandising/center-stage-banner/Mario%20Strikers%20Battle%20league/Ncom_3600x1300_desktop-2">
</div>
<div class="text-container">
  <div class="text">
    <div class="part">
      <div>
        <h1>Pre-order digitally today, play on 6/10</h1>
      </div>

      <div class="btn-container">
        <button class="btn">Pre-order now</button>
      </div>
    </div>
    <div class="logo">
      <div class="img">
        <img src="https://upload.wikimedia.org/wikipedia/commons/e/ed/ESRB_Everyone_10%2B.svg" alt="">
      </div>
      <div class="text-logo">
        <div class="prova">Cartoon Violence, Comic Mischief</div>
        <hr>
        <div class="prova">In-Game Purchases, Users Interact</div>
      </div>

    </div>
  </div>
  <hr class="hr-grande">
</div>
