*{
    font-family: "nint-bold";
  }
    .banner-store,.banner-systems{ /* CONTIENE TUTTO PO****IO*/
      display:flex;
      align-items:center;
      justify-content:center;
    }
    .banner-store-article{
      display: flex;
      flex-direction: row;
      align-items: center;
      margin: 2rem 0 0 0;
      justify-content:space-between;
      font-size:1.3125rem;
      width: 100%;
  }
    /*banner immagine sotto */.banner-systems{
                    flex-direction: column;
  
                  }
                  .banner-systems-due>img{
                    width: 100%;
                  }
                  .banner-systems-due{
                    width:1150px;
                  }
                  .text-banner-systems{
                    display: flex;
                    flex-direction: row;
                    align-items: center; 
                    gap: 2rem;
                    margin: 3rem 0 3rem 0;
                    font-size:1.3rem;
                    position: relative;
                  }
  
   .cappello{ /*questo è il logo nintendo */
      color:white;
  }
  .fdhabY{ /*gruppo svg*/
    display: flex;
    gap: 2rem;
  }
  .iDuBt { /* vari loghini svg*/
    color: rgb(172, 0, 13);
    width: 50.8px;
    height: 50.8px;
  }
  /* ondine */
  .ondina{
  color: #ac000d;
  display: flex;
  flex-direction: row;
  position: relative;
  top: 0px;
  }
  .onda{
    position: absolute;
    width: 100%;
    height: 16px;
    background-size: auto 16px;
    background-repeat: repeat-x;
    z-index: 1;
    background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiPz4KPHN2ZyB3aWR0aD0iNDVweCIgaGVpZ2h0PSIxNHB4IiB2aWV3Qm94PSIwIDAgNDUgMTQiIHZlcnNpb249IjEuMSIKICAgIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIKICAgIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIj4KICAgIDx0aXRsZT5TdG9yZWZyb250LWF3bmluZy1wYXR0ZXJuPC90aXRsZT4KICAgIDxnIGlkPSJQYWdlLTEiIHN0cm9rZT0ibm9uZSIgc3Ryb2tlLXdpZHRoPSIxIiBmaWxsPSJub25lIiBmaWxsLXJ1bGU9ImV2ZW5vZGQiPgogICAgICAgIDxnIGlkPSJTdG9yZWZyb250LWF3bmluZy1wYXR0ZXJuIiBmaWxsPSIjRTYwMDEyIiBmaWxsLXJ1bGU9Im5vbnplcm8iPgogICAgICAgICAgICA8cGF0aCBkPSJNNDUsMCBMMCwwIEwwLDEzLjc3MzY4IEMxLjMzMzAyMDAxLDEzLjgzNzcxOTMgMi42NDkxNDAxMywxMy40NTM5MDE4IDMuNzM4NzcsMTIuNjgzMzUgTDE5LjI4NDQ4LDEuNjI4NjYgQzIxLjM2NjIzOTQsMC4xNDgzMTg1OTggMjQuMTU3MDEwNiwwLjE0ODMxODU5OCAyNi4yMzg3NywxLjYyODY2IEw0MS43ODQ0OCwxMi42ODMzNSBDNDIuNzI4MzU2MywxMy4zNTAwNDM4IDQzLjg0NTI4NSwxMy43Mjg3NzYgNDUsMTMuNzczNjggTDQ1LDAgWiIgaWQ9IlBhdGgiPjwvcGF0aD4KICAgICAgICA8L2c+CiAgICA8L2c+Cjwvc3ZnPg==);
    bottom: -16px;
  }
  .colors{
      width: 1150px;
      height: 172px;
  }
  .white{
      background-image: url('https://assets.nintendo.com/image/upload/dpr_auto,f_auto,q_auto:best/v1/Dev/IS%20Page%20Placeholders/store/bg1');
        height: 40px;
    }
  .red{ /*contiene le immagini di nintendo e loghini*/
    height: 124px;
    background-color: var(--nint-red);
    display:flex;
    justify-content:space-around;
    align-items:center;
    padding: 40px;
  }
  .btn-container1{
    height: 46.19px;
    width: 171.26px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .btn-container {
    height: 46.19px;
    width: 171.26px;
    display: -webkit-box;
    display: -ms-flexbox;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    position:absolute;
    left: 35rem;
  }
  
  .btn-container:hover {
    -webkit-animation: pudding 0.50s forwards ease-in-out;
            animation: pudding 0.50s forwards ease-in-out;
    -webkit-transform: scale(102%);
            transform: scale(102%);
  }
  .btn-container1:hover {
    -webkit-animation: pudding 0.50s forwards ease-in-out;
            animation: pudding 0.50s forwards ease-in-out;
    -webkit-transform: scale(102%);
            transform: scale(102%);
  }
  
  .btn-container a {
    text-decoration: none;
    color: white;
  }
  h1{
    font-size:1.75rem;
  }
  .btn {
    height: 100%;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    background-color: #e60012;
    border: none;
    border-radius: 0.25rem;
    color: white;
    font-size: 18px;
  }
  .btn1 {
    height: 100%;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    background-color: #e60012;
    border: none;
    border-radius: 0.25rem;
    color: white;
    font-size: 18px;
    margin-bottom: 1.5rem;
  }
  
  .btn:hover {
    background-color: #ac000d;
    -webkit-transition: 0.50s;
    transition: 0.50s;
    
  }
  
  
  /* @-webkit-keyframes pudding {
    40% {
      height: 50px;
      width: 172px;
    }
    60% {
      height: 54px;
      width: 175px;
    }
    80% {
      height: 56px;
      width: 176px;
    }
    90% {
      height: 57px;
      width: 177px;
    }
    100% {
      height: 55px;
      width: 175px;
    }
  } */
  
  @keyframes pudding {
    40% {
      height: 66px;
      width: 180px;
    }
    60% {
      height: 54px;
      width: 175px;
    }
    80% {
      height: 56px;
      width: 178px;
    }
    90% {
      height: 57px;
      width: 178px;
    }
    100% {
      height: 55px;
      width: 172px;
    }
  }