
.container-news{
    width: 261.99px;
    height: 366.9px;
    display: flex;
    flex-direction: column;
    color: var(--main-black);
    gap: 1%;
    
    
}
a{
    text-decoration: none;
    color: var(--nint-red)
}
h3{
    font-size: 1rem;
    font-family: "nint-bold";
}
.big{
    width: 556px;
    height:576.25px ;
    
}

img{
   height: 100%;
   width: 100%;
   border-radius: 4px;
}
    .container-news:hover img{
    filter: brightness(50%);
    transition: 0.24s;
    }
    .container-news:hover h3{
        color: var(--nint-red)
    }

.read-more{
    width: 81.29px;
    height: 24.38px;
    text-decoration: underline;
    text-decoration-thickness: 3.2px;
   font-size: 16px;
}
.grid2x2{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 30px;
    
}
.grid4x4{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap:30px
}