<div class="container-news ">
    <div class="img-news">
        <img src="https://assets.nintendo.com/image/upload/f_auto/q_auto/dpr_auto/c_scale,w_800/v1/ncom/en_US/articles/2022/nintendo-switch-online-expansion-pack-mario-golf-is-now-available/1920x1080_NSO_april?_a=AJADJWI0" alt="">
    </div>

    <div class="date-news">04/03/20</div>

    <div class="title-news"><h3>Titolotto</h3></div>

    <div class="description-news">
        <p>Descrizione generica nuovo gioco nintendo, compralo ci servono soldi per fare altri giochi per fare altri soldi</p>
    </div>

    <div class="read-more">
        <a href="#"><h6>Read More</h6></a>
    </div>
</div>