

.container-news{
    width: 261.99px;
    height: 366.95px;
    display: grid;
    grid-template-rows: 0fr 0.1fr 0.4fr 0fr;
    gap: 1%;
    color: var(--main-black);
}
a{
    text-decoration: none;
    color: var(--nint-red)
}
h3{
    font-size: 1rem;
    font-family: "nint-bold";
}
.big{
    width: 556px;
    height:576.25px ;
    
}

img{
   height: 100%;
   width: 100%;
   border-radius: 4px;
   
}
    .container-news:hover img{
    filter: brightness(70%);
    transition: 0.24s;
    }
    .container-news:hover h3{
        transition: 0.24s;
        color: var(--nint-red)
    }

.read-more{
    width: 81.29px;
    height: 24.38px;
    text-decoration: underline;
    text-decoration-thickness: 3.2px;
    font-size: 16px;
}

