<nint-header></nint-header>

<div class="container">
  <h1 id="wish">Wish List</h1>
</div>

<div class="container">
  <nav
    style="--bs-breadcrumb-divider: url(&#34;data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='8' height='8'%3E%3Cpath d='M2.5 0L1 1.5 3.5 4 1 6.5 2.5 8l4-4-4-4z' fill='grey'/%3E%3C/svg%3E&#34;);"
    aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item" style="color:grey ;">Home</li>
      <li class="breadcrumb-item active" aria-current="page">Wish List</li>
    </ol>
  </nav>
</div>
<div class="container">
  <p>Explore, purchase, or remove items from your Wish List here.</p>
</div>
<div id="grey" class="container-fluid">
  <div id="mi-div" class="container">

    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32" width="64" role="presentation" alt=""
      data-testid="NotificationIcon" size="64" color="currentColor">
      <circle cx="16.084" cy="16" r="16" fill="currentColor"></circle>
      <path fill="#fff"
        d="M14.497 18.749l.061.429h3.051l.062-.43q.183-1.285.3-2.43a23.08 23.08 0 0 0 .12-2.372V6.01h-4.015v7.936a23.26 23.26 0 0 0 .119 2.371q.119 1.147.302 2.432zm3.866 3.826a2.418 2.418 0 0 0-.533-.785 2.58 2.58 0 0 0-.783-.518 2.501 2.501 0 0 0-1.94.001 2.566 2.566 0 0 0-.783.518 2.353 2.353 0 0 0-.53.792 2.518 2.518 0 0 0-.186.957 2.491 2.491 0 0 0 .188.966 2.34 2.34 0 0 0 .528.782 2.458 2.458 0 0 0 .792.516 2.576 2.576 0 0 0 1.924 0 2.457 2.457 0 0 0 .79-.515 2.46 2.46 0 0 0 .533-2.714z">
      </path>
    </svg>

    <span>Please log in to access your Wish List.</span>

    <nint-button class="btn" [label]="label"> </nint-button>

  </div>
</div>

<nint-footer></nint-footer>
